<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vongship_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LoshipFake"
        android:roundIcon="@drawable/lgapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quenmatkhau" />
        <activity android:name=".dangki" />
        <activity android:name=".MainActivity" />
        <activity android:name=".manhinhdautien" />
        <activity android:name=".dangnhap"/>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>